{{> navbar}}

{{!-- FORMULARIO --}}
<div class="container w-25 bg-light my-2 p-2 rounded">
    <h1 class="text-center">FORMULARIO DE CARGA</h1>
    <form id="formProduct"  onsubmit="return submitProduct(event)">
        {{!-- method="post" action="/" --}}
        
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Name:</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Product Name">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Description:</label>
            <input type="text" class="form-control" name="description" id="description" placeholder="Description">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Code:</label>
            <input type="text" class="form-control" name="code" id="code" placeholder="Product Code">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Thumbnail:</label>
            <input type="text" class="form-control" name="thumbnail" id="thumbnail" placeholder="Product Thumbnail">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Price:</label>
            <input type="number" step=0.01 class="form-control" name="price" id="price" placeholder="Product price">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Stock:</label>
            <input type="number" class="form-control" name="stock" id="stock" placeholder="Product stock">
        </div>

        <div class="text-center">
            <input type="submit" class="btn btn-success" id="submit" value="Agregar Producto" />
        </div>
        
    </form>
</div>

{{!-- LISTADO DE PRODUCTOS --}}

<div class="container d-flex flex-column w-50 my-2">
    <h2 class="text-center">LISTADO DE PRODUCTOS</h2>
    <table class="table my-1" >
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Code</th>
                <th scope="col">Thumbnail</th>
                <th scope="col">Price</th>
                <th scope="col">Stock</th>
                <th scope="col">TimeStamp</th>
            </tr>
        </thead>
        <tbody id="productsTable">
            {{#if productsExist}}
            {{#each products}}
            <tr>
                <th scope="row">
                    {{this.id}}
                </th>
                <td style="text-transform: uppercase;">
                    {{this.name}}
                </td>
                <td>
                    {{this.description}}
                </td>
                <td>
                    {{this.code}}
                </td>
                <td>
                    <img src="{{this.thumbnail}}" class="product-img" alt="..." />
                </td>
                <td>
                    ${{this.price}}
                </td>
                <td>
                    {{this.stock}}
                </td>
                <td>
                    {{this.timestamp}}
                </td>
                
            </tr>
            {{/each}}
            {{/if}}
        </tbody>
    </table>

</div>
<div class="container d-flex flex-column align-items-center w-25 bg-light my-2 mb-5">
    <h2 class="text-center">CENTRO DE MENSAJES</h2>
    <input type="email" id="caja-nombre" class="form-control w-100" value="" placeholder="Nombre...@email.com" />
    <div class="w-100 text-center" id="div-chats"></div>
    <div class="d-flex flex-row no-wrap w-100">
        <input type="text" id="caja-msg" class="form-control w-50 mx-1" value="" placeholder="Ingrese su mensaje" /> 
        <button class="btn btn-success w-50 mx-1 " onclick="enviarChat()">Enviar msg</button>
    </div>
    </div>
</div>


{{> footer}}